.page {
  min-width: 1100px;
  /* Todavía no sabemos cómo hacer versiones de páginas web para móviles, así que
     hemos establecido un mínimo para el ancho de la página */
  max-width: 1600px;
  /* Aquí hemos establecido un máximo para el ancho de la página */
  margin: 0 auto;
  /* esto garantiza que todo el contenido esté centrado en pantallas de más de 1600 px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  /* Parámetros para la sección del encabezado */
}

.logo {
  position: absolute;
  width: 154px;
  height: 31px;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  z-index: 1;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header_link {
  color: #2f80ed;
}

.header_main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* Aquí tenemos dos ejemplos de selectores para 
recordarte cómo configurar los estilos de los elementos*/
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

/* incluidos aquellos con modificadores clave-valor */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.content__description {
  margin-top: 100px;
  margin-bottom: 100px;
}

.content__two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.content__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.content__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.content__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.content__span-accent {
  font-weight: bold;
}

.content__digits {
}

.content__section-title {
  text-align: center;
  width: 60%;
  margin: 100px auto 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.content__section-subtitle {
  text-align: center;
  width: 60%;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.content__table {
  list-style-type: none;
  width: 1100px;
  margin: 60px auto 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 60px;
}

.content__cell {
  width: 250px;
  margin: 0;
}

.content__heading {
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.content__text {
  margin: 0 0 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.content__feynman {
  height: 790px;
  position: relative;
  margin: 0;
  padding: 0;
}

.content__title {
  width: 775px;
  text-align: center;
  margin: 100px auto 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.content__subtitle {
  text-align: center;
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.content__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.content__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
}

.content__kaufman {
  background-color: #1f1f1f;
  color: #ffffff;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content__section-title_theme_dark {
  width: 60%;
  text-align: center;
  margin: 90px auto 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.content__section-subtitle_theme_dark {
  width: 60%;
  text-align: center;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.content__table_theme_dark {
  list-style-type: none;
  width: 1100px;
  margin: 0 auto 90px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.content__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0;
  z-index: 1;
}

.content__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.content__text_theme_dark {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.content__triangle {
  position: absolute;
  /*width: 660px;
  height: 636px;*/
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  right: -124px;
  top: 0;
  z-index: 0;
}

.footer {
  min-height: 350px;
  position: relative;
  background-color: #1f1f1f;
  color: #ffffff;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 60px 5% 40px;
}

.footer__logo_place {
  width: 183px;
  height: 35px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 18px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column_content-copyright {
  flex-basis: 711px;
  padding: auto;
}

.footer__column_content-about {
  margin: 0 auto 0;
}

.footer__column_content-social {
  display: flex;
  flex-direction: column;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
  margin: 0 10px 0 0;
}

.footer__author {
  position: absolute;
  bottom: 18px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
